<!DOCTYPE html>
<html lang="zh-CN">
  <head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}

    {% endblock %}


    <link rel="stylesheet" type="text/css" href="/static/common/bootstrap/css/bootstrap.min.css"/>
<!--     <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'> -->
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/customer/cssfont-awesome.css">
    <link rel="stylesheet" href="/static/customer/css/prism.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/customer/css/style-2.css">
    <link href="/static/customer/css/ele.css" rel="stylesheet">
    
    <link href="/static/customer/css/ele2.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="/static/customer/css/footer.css" />
    
    {% block css %}

    {% endblock %}

  </head>

  <body>
	<header id="header" class="header">
	    <div class="container">
	        <h1 class="logo pull-left">
	            <a class="scrollto" href="#promo">
	                <span class="logo-title">ShanBay</span>
	            </a>
	        </h1><!--//logo-->
	        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
	            <div class="navbar-header">
	                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button><!--//nav-toggle-->
	            </div><!--//navbar-header-->
	            <div class="navbar-collapse collapse" id="navbar-collapse">
	                <ul class="nav navbar-nav">
	                    <li class="nav-item sr-only active"><a class="scrollto" href="#promo">Home</a></li>
	                    {% if issigned %}
	                    <li class="nav-item">
	                    	<a class="scrollto" href="/customer/profile">{{ customer.phone }}</a>
	                    </li>
	                    <li class="nav-item">
	                    	<a class="scrollto btn"  onclick="log_out()">退出登陆</a>
	                    </li> 
	                    {% else %}
	                    <li class="nav-item"><a class="scrollto" href="/customer/sign#signup">Signup</a></li>
	                    <li class="nav-item"><a class="scrollto" href="/customer/sign#signin">Signin</a></li>
	                    {% endif %}
                        <li class="search-box nav-item" style="margin-right: 0;">
					        <input type="text" class="search-input" placeholder="搜索商家" style="margin: 15px 0; color: #000;">
    					</li>
	                    <li class="nav-item">
					        <a class="search-btn glyphicon glyphicon-search" onclick="search_box()" ></a>
	                    </li> 
	                </ul><!--//nav-->
	            </div><!--//navabr-collapse-->
	        </nav><!--//main-nav-->
	    </div>
	</header>
  	{% block content %}
    {% endblock %}

<!-- <footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">友情链接</h4>
                    <div class="content friend-links">
                        <a href="http://www.bootcss.com/" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap中文网</a>
                        <a href="http://www.golaravel.com/" title="Laravel中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Laravel中文网'])" target="_blank">Laravel中文网</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">我们用到的技术</h4>
                    <div class="content tag-cloud">
                        <a href="http://www.bootcss.com/" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap</a>
                        <a href="http://www.ghostchina.com/" title="Ghost中国" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Ghost中国'])" target="_blank">Ghost</a>
                        <a href="http://www.bootcdn.cn/" title="BootCDN" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'BootCDN'])" target="_blank">BootCDN</a>
                        <a href="http://www.gruntjs.net/" title="Grunt中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Grunt中文网'])" target="_blank">Grunt</a>
                        <a href="http://www.jquery123.com/" title="jQuery中文文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'jQuery中文文档'])" target="_blank">jQuery</a>
                        <a href="http://babeljs.cn/" title="Babeljs中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Babeljs中文网'])" target="_blank">Babeljs</a>
                        <a href="http://lodashjs.com/" title="lodash中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Lodash中文网'])" target="_blank">Lodash</a>
                        <a href="http://www.gulpjs.com.cn/" title="Gulp中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Gulp中文网'])" target="_blank">Gulp</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">赞助商</h4>
                    <div class="content friend-links">
                        <a href="https://www.upyun.com/" title="又拍云" onclick="_hmt.push(['_trackEvent', 'link', 'click', '又拍云'])" target="_blank">asdf</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
 -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://expo.bootcss.com">扇贝订餐</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备xxxx号</a></span>
            </div>
        </div>
    </div>
</div>


    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/csrf.js"></script>
    <script src="/static/common/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/customer/js/logout.js"></script>

    {% block script %}

	{% endblock %}

  </body>
</html>

