 {% extends "customer/header.html" %}

{% block content %}

<div class="container ng-scope" ng-show = "!recentBoughtOnly">
<div class="place-rstbox clearfix">
	<div style="height: 1120px;" class="clearfix">
	   {% for restaurant in restaurants.open %}
		<a class="rstblock" href = "/customer/restaurant?rest_id={{ restaurant.id }}">
			<div class="rstblock-logo">
				<img src='{{restaurant.logo_path}}' alt="老娘舅（杭州黄龙餐厅）" class="rstblock-logo-icon" height="70" width="70">
					<div class="elemeicon elemeicon-premiumsign rstblock-logo-premiumsign">
					</div>
			</div>
			<div class="rstblock-content">
				<div class="rstblock-title">{{ restaurant.name}}
				</div>
				<div class="starrating icon-star">
					<span class="icon-star" style="width:90%;">
					</span>
				</div>
				<span class="rstblock-monthsales">月售2575单
				</span>
			<div class="rstblock-cost">0元起送 / 配送费7元</div>
			<div class="rstblock-activity"><i style="background:#f07373;">减</i><i style="background:#70bc46;">首</i><i style="background:#fff;color:#FF4E00;border:1px solid;padding:0;">付</i>
			<i style="background:#fff;color:#9071CB;border:1px solid;padding:0;">票</i>
			</div>
	</div>
	</a>
	{% endfor %}
	</div>
	</div>
	</div>

{% endblock %}
