 {% extends "customer/header.html" %}
   {% load template_lib%}

     {% block title %}
      <title>{{ customer.Phone}}</title>
     {% endblock %}
        <!-- Bootstrap -->
     {% block css %}
        <link href="/static/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- <link href="/static/customer/css/dashboard.css" rel="stylesheet"> -->

        <link rel="stylesheet" href="/static/customer/css/profile.css">


     {% endblock %}


<!--       </head>
      <body>
          <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://v3.bootcss.com/examples/dashboard/#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">NULL</a></li>
                <li><a href="#">NULL</a></li>
                <li><a href="#">NULL</a></li>
                <li><a href="#">NULL</a></li>
              </ul>
              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
              </form>
            </div>
          </div>
        </nav> -->
      {% block content %}

        <div class="container-fluid" style="">
          <div class="row" style = "height:920px">
            <div class="col-sm-3 col-md-2 ">
              <ul class="nav nav-sidebar " style = "padding-top:40px">
                <li >
                  <a href="#orderManage">管理订单</a>
                </li>
                <li>
                  <a href="#pwdModify" >修改密码</a>
                </li>
                <li>
                  <a href="#addressManage">管理收货地址</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-9  col-md-10  main">
              <div id = "orderManage" class="row show">
                <h1 class="page-header"> 管理订单</h1>
                <div class = "text-center">


                  <thead class="order-title">
                     <div class="row">
                      <div class="col-md-1 ">订单号</div>
                      <div class="col-md-2">时间</div>
                      <div class="col-md-5 ">订餐详情</div>
                      <div class="col-md-1">总价</div>
                      <div class="col-md-1">状态</div>
                      <div class="col-md-1">动作</div>
                    </div>
                  </thead>

                  <tbody class="order-body">
                  {% for order in orders %}
                      {% if order.status != 0 %}
                        <div class="row">
                          <div class="col-md-1 order-id">{{order.id}}</div>
                          <div class="col-md-2">{{order.order_time}}</div>
                          <div class="col-md-5 text-center">
                              {% for order_dish in order_dishes|index:order.id %}
                                  {{order_dish.dish.name}};
                              {% endfor %}

                          </div>
                          <div class="col-md-1">{{order.total}}</div>
                            {% if order.status == 1 %}
                                <button class="col-md-1 btn btn-warning btn-pay" type="button" value="pay">等待付款</button>
                            {% elif order.status == 2 %}
                                 <div class="col-md-1 btn btn-order" disabled="disabled">等待接受</div>
                                 <button class="col-md-1 btn btn-cancel btn-danger" type>取消订单</button>
                            {% elif order.status == 3 %}
                                <div class="col-md-1 btn btn-order" disabled="disabled">正在制作</div>
                            {% elif order.status == 4 %}
                                <div class="col-md-1 btn btn-order" disabled="disabled">正在派送</div>
                                <button class="col-md-1 btn btn-success btn-order" type="button" value="receieve">确认收单</button>
                            {% elif order.status == 5 %}
                                <div class="col-md-1 btn btn-order" disabled="disabled">已经完成</div>
                            {% elif order.status == 6 %}
                                <div class="col-md-1 btn btn-order" disabled="disabled">已经取消</div>
                            {% endif %}
                        </div>
                      {% endif %}
                  {% empty %}
                    <div>你还什么都没点哦 ，快去浏览菜品下订单吧！</div>
                  {% endfor %}


                  </tbody>


                </div>
              </div>


              <div id = "pwdModify" class="row unshow">
                <h1 class="page-header">修改密码 </h1>
                <div class = "talbe-responsive" >
                  <div >当前密码：
                    <br>
                    <input type="password" name="passwdOld" class = "text" id ="passwdOld" size="20">
                  </div>
                  <div >新密码：
                    <br>
                    <input type="password" name="passwdNew" class = "text" id ="passwdNew" size="20">
                  </div>
                  <div>重复新密码：
                    <br>
                    <input type="password" name="passwdNewCheck" class = "text" id ="passwdNewCheck" size="20">
                  </div>
                  <br>
                  <input class="btn" type="submit" value ="确认修改密码" id  = "submitBtn">
                </div>
              </div>


              <div id = "addressManage" class="row unshow">
                <h1 class="page-header">管理收货地址 </h1>
                <div>
                </div>
              </div>

            </div>
          </div>
       </div>


        <div id ="comBack" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0.5; z-index: 1002; background: rgb(0, 0, 0); display:none"></div>

        {% for order in orders %}
          {% if order.status == 4 %}


             <div   id =  "comment-{{order.id}}"" class="comment ontainer-fluid col-md-6 col-md-offset-2 combody" style="z-index:1005;left:0;right:0;top:10%; overflow: auto; margin-left:auto;margin-right:auto;display: none ">
                <div class="container-fluid ">
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1 ">
                          <h1 class="page-header comment-header">评价订单</h1>
                          <div class = "order-id" style = "display:none">{{order.id}}</div>
                          {% for order_dish in order_dishes|index:order.id %}
                            {{order_dish.dish.name}}

                            <div class= "row singleComment" class = "{{order_dish.dish.name}}" >
                              <div class="col-md-4">
                                <img border="0" src="{{order_dish.dish.pic_path}}" alt="{{order_dish.dish.name}}" width="160" height="120">
                              </div>
                              <div class="text-left">
                                <div class="col-md-2 ">菜品名</div>
                                <div class="col-md-5  mealName">{{order_dish.dish.name}}</div>
                                <div class="order-dish-id" style = "display:none"> {{order_dish.id}}</div>
                              </div>
                              <br><br>
                               <div class="text-left">
                                <div class="col-md-2 ">价格</div>
                                <div class="col-md-5 mealPrice">{{order_dish.dish.price}}元</div>
                              </div>
                              <br><br>
                              <div class="text-left">
                                <div class="col-md-2 ">评价</div>
                                <div class="col-md-6 ">
                                  <div class="center" style="padding-left:50% padding-right:50%">
                                    <div class="bigStar fl star1" tabindex="1" role="button" aria-label="选择将商品评为一星。" ></div>
                                    <div class="bigStar fl star2" tabindex="2" role="button" aria-label="选择将商品评为两星。"></div>
                                    <div class="bigStar fl star3" tabindex="3" role="button" aria-label="选择将商品评为三星。"></div>
                                    <div class="bigStar fl star4" tabindex="4" role="button" aria-label="选择将商品评为四星。"></div>
                                    <div class="bigStar fl star5" tabindex="5" role="button" aria-label="选择将商品评为五星。"></div>
                                  </div>
                                    <div class="text-left grade">0</div>
                                    <div >分</div>
                                </div>
                              </div>
                              <br>
                               <div class="text-left">
                                <div class="col-md-offset-4 col-md-2  comment-text">评论</div>
                                <input type= "text" name="comment_text" class="col-md-5" style="padding:0;margin-left:15px">
                              </div>
                            </div>

                          {% endfor %}

                    <div class="row upload">
                                <button class="  btn btn-default btn-lg fr btn-refuse" type="submit">取消评价</button>
                                <button class="  btn btn-primary btn-lg fr btn-push submitCom" type="submit">提交评价</button>
                          </div>

                    <footer class="footer"></footer>

                      </div>
                    </div>
                </div>
          </div>

          {% endif %}
        {% endfor %}
       {% endblock content %}


        {% block script %}
        <script type="text/Javascript">
          $(function(){

            var orderNav =$("[href='#orderManage']");
            var pwdNav   =$("[href='#pwdModify']");
            var addNav   =$("[href='#addressManage']")

            var customer;
            var orders;
            var order_dishes;
            var address;

            console.log(orderNav.text())
            var orderMan =$("#orderManage");
            var pwdMod=$("#pwdModify");
            var addMan=$("#addressManage");
            console.log(pwdNav.text())
            orderNav.click(function(){
              console.log("haha1");
              $(".show").removeClass('show').addClass("unshow");
              orderMan.addClass('show');
            });

            pwdNav.click(function(){
              console.log("haha2");
              $(".show").removeClass('show').addClass("unshow");
              pwdMod.addClass('show');
            });

            addNav.click(function(){
              console.log("haha3");
              $(".show").removeClass('show').addClass("unshow");
              addMan.addClass('show');
            });


            // 实现点击星星变黄
            var  allStar = $(".bigStar");
            var  gradeSingle = 0;



            console.log("here~");
            allStar.click(function() {
              var par = $(this).parent();
              var child = par.children();
              var iStr=  $(this).index();
              var i = 0;
              console.log($(this).index);
              console.log('haha');
              gradeSingle = $(this).attr("tabindex");
              console.log(par.parent().find(".grade").text(gradeSingle));
              console.log("grade="+gradeSingle);

              for(;i < 5; i++)
              {
                child.eq(i).removeClass('yellowStar');
              }
              i = 0;
              $(this).addClass('yellowStar');

              while(!child.eq(i).hasClass('yellowStar' )){
                child.eq(i).addClass('yellowStar');
                i ++;
              }
            });

            //实现滑动星星变蓝
            allStar.mouseover(function() {
              var par = $(this).parent();
              var child = par.children();
              var iStr=  $(this).index();
              var i = 0;
              gradeSingle = 0;
              for(;i < 5; i++)
              {
                if(child.eq(i).hasClass('yellowStar'))
                {  gradeSingle = i+1;}
                child.eq(i).removeClass('blueStar');
                child.eq(i).removeClass('yellowStar');
              }

              i = 0;

              $(this).addClass('blueStar');

              while(!child.eq(i).hasClass('blueStar' )){
                child.eq(i).addClass('blueStar');
                i ++;
              }
            });


            allStar.mouseout(function() {
              var par = $(this).parent();
              var child = par.children();
              var iStr=  $(this).index();
              var i = 0;

              for(;i < 5; i++)
              {
                child.eq(i).removeClass('blueStar');
                child.eq(i).removeClass('yellowStar');
              }

              i = 0;
              for(; i < gradeSingle;i++)
              {
                child.eq(i).addClass('yellowStar');
              }
            });


            $("button.btn-order").click(function(){
              var par = $(this).parent();
              var order_id = par.children(".order-id").text();
              var comment_id = '#comment-'+ order_id;
              var comment_body = $(comment_id);
              console.log('the comment_id is '+ comment_id);
              console.log(comment_body.html());
              $("#comBack").css('display', 'block');

              comment_body.css('display', 'block');


              $(".btn-refuse").click(function(){
                  $("#comBack").css('display', 'none');
                  comment_body.css('display', 'none');
              })



              $(".btn-push").click(submitCom);
              $("#comBack").click(function(){
                 $("#comBack").css('display', 'none');
                  comment_body.css('display', 'none');
              })

              $(this).css('display','none');
              $(this).parent().find(".btn").text("已经完成");
            })
          })


          $(".btn-cancel").click(function(){

              $(this).css('display','none');
              $(this).parent().find(".btn").text("已经取消");
              var orderId = $(this).parent().find(".order-id").text();
              $.ajax({
                  url: '/customer/cancelOrder',
                  type: 'post',
                  data: JSON.stringify({
                    "order_id":orderId,
                  }),
                }).done(function(data){
                  console.log(data);
                });
          })





          $(".btn-pay").mouseover(function(){
            $(this).html("就去付款");
          })

          $(".btn-pay").mouseout(function(){
            $(this).html("等待付款");
          })



          //修改密码
          function submitPw(){
          var oldPw = $("#passwdOld").val();
          var newPw = $("#passwdNew").val();
          var newPwCheck = $("#passwdNewCheck").val();
          if (newPw != newPwCheck )
          {
            confirm("新密码重复输入不相同，请重试")
            return false;
          }

          $.ajax({
              url: '/customer/updatePasswd',
              type: 'post',
              data: JSON.stringify({
                "old_password": oldPw,
                "new_password": newPw
              }),
            }).done(function( data ) {
                if(data.result == 'fail')
                {
                  confirm("原始密码错误或其他错误，修改密码失败");
                }
                else{
                  confirm("密码修改成功！");
                }
             });
        }

        $("#submitBtn").click(submitPw);


        //提交评价
        function submitCom(){
          var par = $(this).parent().parent();
          var orderId = par.find(".order-id").text();
          // console.log("orderId = " + orderId);
          // var orderNum;//没写！
          var orderDishIdAry  =  [];
          var orderDishId     =   par.find(".order-dish-id");
          orderDishId.each(function(){
            orderDishIdAry.push($(this).text())
            console.log("order-dish-id= "+ $(this).text());
          })

          var dishGradeAry    =   [];
          var dishGrade       =   par.find(".grade");
          dishGrade.each(function(){
            dishGradeAry.push($(this).text());
          })

          var dishCommeAry    =   [];
          var dishComm       =   par.find("input");
          dishComm.each(function(){
            dishCommeAry.push($(this).val());
            console.log("comment=" + $(this).val());
          })

          var i  = orderDishIdAry.length;
          console.log("i = " + i);
          var order_dishes = [];
          while( i != 0){
            var   odi = orderDishIdAry[i-1];
            console.log("odi=" + odi);
            var   dg  = dishGradeAry[i-1];
            console.log("dg=" + dg);
            var   dc  = dishCommeAry[i-1];
            console.log("dc=" + dc);
            order_dishes[i-1] = {
                  "order_dish_id": odi,
                  "grade": dg,
                  "comment": dc
              };
            i--;
          }

          $(".combody").css('display', 'none');
          $("#comBack").css('display', 'none');
          console.log("nop");


          $.ajax({
              url: '/customer/comment',
              type: 'post',
              data: JSON.stringify({
                "order_id":orderId,
                "order_dishes":order_dishes
              }),
            }).done(function(data){
              console.log(data);
            }).fail(function( xhr, status, errorThrown ) {
                    alert( "Sorry, there was a problem!" );
                    console.log( "Error: " + errorThrown );
                    console.log( "Status: " + status );
                    console.dir( xhr );
             })


      }


        </script>
        {% endblock %}

      </body>
    </html>