#restaurant-navbar {
    background-color: #337ab7;
}
#restaurant-navbar a {
    color: #FFFFFF;
}

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}