#dish-list {
    padding: 10px 10px 10px 10px;
}

.dish-item {
    margin: 10px 10px 10px 10px;
}
.tab-content {
    background: rgba(00,00,255,0.2);
}
.tab-pane {
    padding: 20px 20px 20px 20px;
}
#restaurant-info {
    padding: 20px 20px 20px 20px;
}
#open-or-close, #banned-btn, #unauthorized-btn {
    margin: 30px 30px 30px 30px;
}

#name {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.my-btn-margin {
    margin: 10px 10px 10px 10px;
}

#orders {
    position: fixed;
    right: 0;
    bottom: 0;
}