{% extends "restaurant/base.html" %}

{% block title %}
    <title>登录</title>
{% endblock %}


{% block css %}
    <link href="/static/restaurant/css/sign.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading text-center">请登录</h2>
            <label for="inputEmail" class="sr-only">电话</label>
            <input type="text" id="username" class="form-control" placeholder="157xxxxxxxx" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="password" class="form-control" placeholder="密码" required>
            <button class="btn btn-lg btn-primary btn-block" id="sign-in">Sign in</button>
        </form>
    </div> <!-- /container -->
{% endblock %}


{% block script %}
    <script src="/static/restaurant/js/sign.js"></script>
    <script>
        $(document).ready(function () {
            $('#sign-in').click(sign_in);
        });
    </script>
{% endblock %}